<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'images\bloglogo.png' %}" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex" action="{% url 'login' %}">
                    <button class="btn btn-outline-success btnc1">Login</button>
                </form>
                <form class="d-flex" action="{% url 'signup' %}">
                    <button class="btn btn-success">SignUp</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm 12 col-xs-12 text-center"><img src="{% static 'images\indexpic.png' %}" alt=""></div>
        <div class="second">
            <h1>.BLOG</h1>
            <h4>Write. Rewrite. When not<br>Writing or rewriting, read.<br>I know of no shortcuts.</h4>
        </div>
    </div>
</body>

</html>